.image {
  height: 80px;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.icon {
  width: 25%;
  height: 100%;
  display: inline;
}

.info {
  height: 100%;
  width: 73%;
  display: inline-block;
  vertical-align: bottom;
}

.info p {
  margin: 0px;
  /* font-size: 20px; */
  /*display: inline-block;*/
  text-align: center;
}

.ai-container {
  font-family: 'Dosis', sans-serif; 
  /* color : rgb(114, 114, 114); */
  color: cornsilk;
  font-weight: 900;
  font-size: 18px;
  display: block;
  text-align: center;
}

.ibu, .abv {
  padding: 0px 40px;
  display: inline;
  padding: auto;
}

.beer-name {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.brewery {
  font-family: 'Roboto Slab', serif;
  font-size : 20px;
}

.beer-container {
  max-height: 120px;
  height: auto;
  width: 420px;
  /* margin: 10px; */
  /* background-color: #f1f1f1; */
  /* border: 1px solid black; */
  border-radius: 10px;
  display: inline-block;
  text-align: left;
}

#mcm-btn {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
}

#mcm-title {
  padding-top: 15px;
  word-wrap: break-word;
  width: 100%;
}