.beer-image {
  height: 80px;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  vertical-align: top;
}

.beer-description {
  text-align: left !important;
}

.beer-description-title {
  text-align: left !important;
  color: rgb(114, 114, 114);
  font-size: 14px;
  font-weight: 600;
}

.icon {
  width: 25%;
  height: 100%;
  display: inline;
}

.beer-info {
  height: 100%;
  width: 73%;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 15px;
}

.beer-info p {
  margin: 0px;
  text-align: center;
  margin-bottom: 4px;
}

.ai-container {
  font-family: 'Dosis', sans-serif; 
  color : rgb(114, 114, 114);
  font-weight: 900;
  font-size: 18px;
  display: block;
  text-align: center;
}

.ibu, .abv {
  padding: 0px 40px;
  display: inline;
  padding: auto;
}

.beer-name {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.brewery {
  font-family: 'Roboto Slab', serif;
  font-size : 20px;
}

.beer-container {
  max-height: 120px;
  height: auto;
  width: 420px;
  line-height: 1.4em;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
}
